* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   background-color: rgb(26, 23, 23);
}
body {
   height: 100vh;
   font-family: 'Poppins', sans-serif;
}
.webgl {
   position: fixed;
   height: 100vh;
   width: 100%;
   outline: none;
}